@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// account-order-page
.account-order-page {
  height: 100%;
  background-color: vars.$primary-100;
}

// account-order-page__content
.account-order-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$space-5;

  @include mixins.breakpoint(xl) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

// account-order-page__cards
.account-order-page__cards {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: vars.$space-5;
}

// account-order-page__summary
.account-order-page__summary.summary {
  min-width: 350px;

  @include mixins.breakpoint(xl) {
    order: 1;
  }
}
