@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// admin-order-page
.admin-order-page {
  height: 100%;
  background-color: vars.$primary-100;
}

// admin-order-page__content
.admin-order-page__content {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: vars.$space-5;
}
