@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// admin-dashboard-page
.admin-dashboard-page {
  height: 100%;
  background-color: vars.$primary-100;
}

// admin-dashboard-page__content
.admin-dashboard-page__content {
  max-width: 460px;
  margin: 0 auto;
}
