@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// admin-orders-page
.admin-orders-page {
  height: 100%;
  background-color: vars.$primary-100;
}

// admin-orders-page__content
.admin-orders-page__content {
  max-width: 600px;
  margin: 0 auto;
}
