@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// placeorder-page
.placeorder-page {
}

// placeorder-page__sect
.placeorder-page__sect {
  background-color: vars.$primary-100;
}

// placeorder-page__content
.placeorder-page__content {
  display: flex;
  flex-direction: column;
  gap: vars.$space-5;

  @include mixins.breakpoint(md) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

// placeorder-page__info
.placeorder-page__info {
  display: flex;
  flex-direction: column;
  gap: vars.$space-3;
}

// placeorder-page__summary
.placeorder-page__summary.summary {
  @include mixins.breakpoint(xl) {
    max-width: 360px;
  }
}
