@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// profile-page
.profile-page {
  height: 100%;
  background-color: vars.$primary-100;
}

// profile-page__form
.profile-page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$space-8;
}
