@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// product-page

// product-page__coffee
.product-page__coffee {
  background-color: vars.$primary-100;
}

// product-page__review
.product-page__review {
  background-color: vars.$neutral-50;
}

// product-page__review-grid
.product-page__review-grid {
  display: flex;
  flex-direction: column;
  gap: vars.$space-12;

  @include mixins.breakpoint(md) {
    flex-direction: row;
  }
}
