@use "../abstracts/variables" as vars;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: vars.$font-sans;
  font-size: 16px;
}

body {
  background-color: vars.$bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: vars.$font-size-1;
}

button {
  font-family: vars.$font-serif;
}
