@use "../abstracts/variables" as vars;
// bg-primary
.bg-primary-100 {
  background-color: vars.$primary-100;
}

.bg-primary-50 {
  background-color: vars.$primary-50;
}

.bg-neutral-50 {
  background-color: vars.$neutral-50;
}
