@use "sass:map";
@use "../abstracts/variables" as vars;

// ----- Generate text colors ----------------------------
// primary
@each $color in map.keys(vars.$primary) {
  .text-primary-#{$color} {
    color: map.get(vars.$primary, $color);
  }
}

// secondary
@each $color in map.keys(vars.$secondary) {
  .text-secondary-#{$color} {
    color: map.get(vars.$secondary, $color);
  }
}

// neutral
@each $color in map.keys(vars.$neutral) {
  @if $color == "white" or $color == "black" {
    .text-#{$color} {
      color: map.get(vars.$neutral, $color);
    }
  } @else {
    .text-neutral-#{$color} {
      color: map.get(vars.$neutral, $color);
    }
  }
}

// green
@each $color in map.keys(vars.$green) {
  .text-green-#{$color} {
    color: map.get(vars.$green, $color);
  }
}

// orange
@each $color in map.keys(vars.$orange) {
  .text-orange-#{$color} {
    color: map.get(vars.$orange, $color);
  }
}

// red
@each $color in map.keys(vars.$red) {
  .text-red-#{$color} {
    color: map.get(vars.$red, $color);
  }
}

// blue
@each $color in map.keys(vars.$blue) {
  .text-blue-#{$color} {
    color: map.get(vars.$blue, $color);
  }
}

// ----- Generate background colors ----------------------------
// primary
@each $color in map.keys(vars.$primary) {
  .bg-primary-#{$color} {
    background-color: map.get(vars.$primary, $color);
  }
}

// secondary
@each $color in map.keys(vars.$secondary) {
  .bg-secondary-#{$color} {
    background-color: map.get(vars.$secondary, $color);
  }
}

// neutral
@each $color in map.keys(vars.$neutral) {
  @if $color == "white" or $color == "black" {
    .bg-#{$color} {
      background-color: map.get(vars.$neutral, $color);
    }
  } @else {
    .bg-neutral-#{$color} {
      background-color: map.get(vars.$neutral, $color);
    }
  }
}

// green
@each $color in map.keys(vars.$green) {
  .bg-green-#{$color} {
    background-color: map.get(vars.$green, $color);
  }
}

// orange
@each $color in map.keys(vars.$orange) {
  .bg-orange-#{$color} {
    background-color: map.get(vars.$orange, $color);
  }
}

// red
@each $color in map.keys(vars.$red) {
  .bg-red-#{$color} {
    background-color: map.get(vars.$red, $color);
  }
}

// blue
@each $color in map.keys(vars.$blue) {
  .bg-blue-#{$color} {
    background-color: map.get(vars.$blue, $color);
  }
}
