@use "sass:map";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// display-large
.display-large {
  @include mixins.displayLargeText();
  color: vars.$primary-500;
}

// display-base
.display-base {
  @include mixins.displayBaseText();
  color: vars.$primary-500;
}

// title-large
.title-large {
  @include mixins.titleLargeText();
  color: vars.$primary-500;
}

// title-medium
.title-medium {
  @include mixins.titleMediumText();
  color: vars.$neutral-950;
}

// title-base
.title-base {
  @include mixins.titleBaseText();
  color: vars.$neutral-950;
}

// button
.button {
  @include mixins.buttonText();
  color: vars.$neutral-950;
}

// body-large
.body-large {
  @include mixins.bodyLargeText();
  color: vars.$neutral-700;
}

// body-base
.body-base {
  @include mixins.bodyBaseText();
  color: vars.$neutral-700;
}

.title {
  color: vars.$neutral-900;
  margin-bottom: vars.$space-3;
  text-align: center;
}

.subtitle {
  color: vars.$neutral-900;
  margin-bottom: vars.$space-3;
  text-align: center;
}

.desc {
  color: vars.$neutral-700;
  text-align: center;
  margin-bottom: vars.$space-8;

  @include mixins.breakpoint(md) {
    margin-bottom: vars.$space-10;
  }

  &--dimmed {
    color: vars.$neutral-600;
  }
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-confined {
  max-width: 768px;
}

.text-lg {
  max-width: 768px;
}

.text-md {
  max-width: 576px;
}

.text-sm {
  max-width: 448px;
}
