@use "sass:list";

//----- < Base: Settings > ------------------------
$prefix: scs-;
$theme-mode: data; // data or media-query
$grid-columns: 12;

//----- < Colors > ------------------------

// primary
$primary-50: #fcf5e8;
$primary-100: #faead1;
$primary-200: #f4d5a4;
$primary-300: #efc176;
$primary-400: #eaac48;
$primary-500: #df931a;
$primary-600: #b77915;
$primary-700: #895b10;
$primary-800: #5b3c0b;
$primary-900: #2e1e05;
$primary-950: #170f03;

// secondary
$secondary-50: #ffe9e5;
$secondary-100: #ffd3cc;
$secondary-200: #ffa799;
$secondary-300: #ff7a66;
$secondary-400: #ff4e33;
$secondary-500: #ff4428;
$secondary-600: #cc1b00;
$secondary-700: #991400;
$secondary-800: #660e00;
$secondary-900: #330700;
$secondary-950: #1a0300;

// neutral
$neutral-50: #f2f2f3;
$neutral-100: #e5e5e6;
$neutral-200: #cacace;
$neutral-300: #b0b0b5;
$neutral-400: #95959d;
$neutral-500: #71717a;
$neutral-600: #62626a;
$neutral-700: #4a4a4f;
$neutral-800: #313135;
$neutral-900: #19191a;
$neutral-950: #0c0c0d;
$white: #ffffff;
$black: #000000;
$bg: $white;

// success
$success-50: #e9fbf0;
$success-100: #d3f8e1;
$success-200: #a8f0c2;
$success-300: #7ce9a4;
$success-400: #51e186;
$success-500: #22c55e;
$success-600: #1eae53;
$success-700: #16833e;
$success-800: #0f5729;
$success-900: #072c15;
$success-950: #04160a;

// Warning
$warning-50: #fef5e7;
$warning-100: #fdecce;
$warning-200: #fbd99d;
$warning-300: #f9c56c;
$warning-400: #f7b23b;
$warning-500: #f59f0b;
$warning-600: #c47f08;
$warning-700: #935f06;
$warning-800: #624004;
$warning-900: #312002;
$warning-950: #181001;

// danger
$danger-50: #fee7eb;
$danger-100: #fccfd6;
$danger-200: #f99fae;
$danger-300: #f76e85;
$danger-400: #f43e5c;
$danger-500: #f43f5d;
$danger-600: #c10b29;
$danger-700: #91081f;
$danger-800: #600615;
$danger-900: #30030a;
$danger-950: #180105;

// info
$info-50: #e7f0fe;
$info-100: #cee0fd;
$info-200: #9dc1fb;
$info-300: #6da2f8;
$info-400: #3c83f6;
$info-500: #3b83f6;
$info-600: #0950c3;
$info-700: #073c92;
$info-800: #042862;
$info-900: #021431;
$info-950: #010a18;

// text
$high-text-color: rgba(0, 0, 0, 87%);
$medium-text-color: rgba(0, 0, 0, 70%);
$muted-text-color: rgba(0, 0, 0, 60%);

//----- < Spacing > ------------------------

// Spacing
$space-0: 0; //----------|   0
$space-1: 0.25rem; //----|  4px
$space-2: 0.5rem; //-----|  8px
$space-3: 1rem; //-------| 16px
$space-4: 1.25rem; //----| 20px
$space-5: 1.5rem; //-----| 24px
$space-6: 2rem; //-------| 32px
$space-7: 2.25rem; //----| 36px
$space-8: 2.5rem; //-----| 40px
$space-9: 3rem; //-------| 48px
$space-10: 3.5rem; //----| 56px
$space-11: 4.5rem; //----| 72px
$space-12: 5.5rem; //----| 88px
$space-13: 6rem; //------| 96px
$space-14: 8rem; //------| 128px

// Border width
$border-sm: 1px;
$border: 2px;
$border-lg: 4px;
$border-xl: 6px;

// Border radius
$radius-xs: 0.125rem; //-----| 2px
$radius-sm: 0.25rem; //------| 4px
$radius: 0.375rem; //--------| 6px
$radius-lg: 0.5rem; //-------| 8px
$radius-xl: 1rem; //---------| 16px
$radius-2xl: 2rem; //--------| 32px
$radius-pill: 50rem; //------| 800px

// Aspect ration
$aspect-square: 1;
$aspect-landscape: list.slash(4, 3);
$aspect-portrait: list.slash(3, 4);
$aspect-widescreen: list.slash(16, 9);
$aspect-ultrawide: list.slash(18, 5);
$aspect-golden: list.slash(1.618, 1);

// breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

//----- < Typography > ------------------------

// font-family
$font-sans:
  var(--font-poppins),
  system-ui,
  -apple-system,
  Segoe UI,
  Roboto,
  Ubuntu,
  Cantarell,
  Noto Sans,
  sans-serif;
$font-serif: var(--font-philosopher), ui-serif, serif;
$font-mono:
  Dank Mono,
  Operator Mono,
  Inconsolata,
  Fira Mono,
  ui-monospace,
  SF Mono,
  Monaco,
  Droid Sans Mono,
  Source Code Pro,
  monospace;

// font-size
$font-size-00: 0.75rem; // 12px
$font-size-0: 0.875rem; // 14px
$font-size-1: 1rem; // 16px
$font-size-2: 1.125rem; // 18px
$font-size-3: 1.25rem; // 20px
$font-size-4: 1.5rem; // 24px
$font-size-5: 2rem; // 32px
$font-size-6: 2.5rem; // 40px
$font-size-7: 3rem; // 48px
$font-size-8: 3.5rem; // 56px
$font-size-9: 4.5rem; // 72px
$font-size-10: 5.5rem; // 88px

//----- < Shadows > ------------------------
$shadow-color: 220 3% 15%;
$shadow-strength: 1%;
$shadow-1: 0 1px 2px -1px hsl(var($shadow-color) /
      calc(var($shadow-strength) + 9%));
$shadow-2:
  0 3px 5px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 7px 14px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%));
$shadow-3:
  0 -1px 3px 0 hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 1px 2px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 2px 5px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 4%)),
  0 4px 12px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%)),
  0 12px 15px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 7%));
$shadow-4:
  0 -2px 5px 0 hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 1px 1px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 2px 2px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 5px 5px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 4%)),
  0 9px 9px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%)),
  0 16px 16px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 6%));
$shadow-5:
  0 -1px 2px 0 hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 2px 1px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 5px 5px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 10px 10px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 4%)),
  0 20px 20px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%)),
  0 40px 40px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 7%));
$shadow-6:
  0 -1px 2px 0 hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 3px 2px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 7px 5px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 12px 10px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 4%)),
  0 22px 18px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%)),
  0 41px 33px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 6%)),
  0 100px 80px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 7%));
$inner-shadow-0: inset 0 0 0 1px
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));
$inner-shadow-1: inset 0 1px 2px 0
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));
$inner-shadow-2: inset 0 1px 4px 0
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));
$inner-shadow-3: inset 0 2px 8px 0
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));
$inner-shadow-4: inset 0 2px 14px 0
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));

//----- < Positions > ------------------------
$z-indexes: (
  "none": 0,
  "appbar": 12,
  "carousel": 10,
);

$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
);
