@use "sass:map";
@use "../abstracts/variables" as vars;

// position static
.static {
  position: static;
}

// position relative
.relative {
  position: relative;
}

// position absolute
.absolute {
  position: absolute;
}

// position fixed
.fixed {
  position: fixed;
}

// position sticky
.sticky {
  position: sticky;
}

// top
@each $value in map.keys(vars.$position-values) {
  .top-#{$value} {
    top: map.get(vars.$position-values, $value);
  }

  // bottom
  .bottom-#{$value} {
    bottom: map.get(vars.$position-values, $value);
  }

  // left
  .left-#{$value} {
    left: map.get(vars.$position-values, $value);
  }

  // right
  .right-#{$value} {
    right: map.get(vars.$position-values, $value);
  }
}

// badge--corner-tr
.corner-tr {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

// badge--corner-br
.corner-br {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

// badge--corner-bl
.corner-bl {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

// badge--corner-tl
.corner-tl {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}