@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.section {
  padding-top: vars.$space-12;
  padding-bottom: vars.$space-12;

  @include mixins.breakpoint(md) {
    padding-top: vars.$space-14;
    padding-bottom: vars.$space-14;
  }

  // section--page
  &--page {
    padding-top: vars.$space-8;
  }

  // section--top
  &--top {
    padding-top: vars.$space-12;
    padding-bottom: 0;

    @include mixins.breakpoint(md) {
      padding-top: vars.$space-14;
    }
  }

  // section--bottom
  &--bottom {
    padding-top: 0;
    padding-bottom: vars.$space-12;
    @include mixins.breakpoint(md) {
      padding-bottom: vars.$space-14;
    }
  }

  // section--none
  &--none {
    padding-top: 0;
    padding-bottom: 0;
  }

  // section--mini
  &--mini {
    padding-top: vars.$space-10;
    padding-bottom: vars.$space-10;

    @include mixins.breakpoint(md) {
      padding-top: vars.$space-11;
      padding-bottom: vars.$space-11;
    }
  }
}
