@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// Our button will have the following properties
// shape: solid | outline | text
// color:  primary | secondary | danger

// btn
.btn {
  display: inline-flex;
  padding: vars.$space-2 vars.$space-3;
  @include mixins.buttonText();
  text-decoration: none;
  color: vars.$black;
  background-color: vars.$primary-500;
  border: vars.$border solid vars.$primary-500;
  border-radius: vars.$radius-xs;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;

  // hover
  &:hover {
    background-color: vars.$primary-400;
    border-color: vars.$primary-400;
  }

  &--danger {
    color: vars.$white;
    background-color: vars.$red-500;
    border-color: vars.$red-500;

    // hover
    &:hover {
      background-color: vars.$red-300;
      border-color: vars.$red-300;
    }
  }

  &--neutral {
    color: vars.$black;
    background-color: vars.$neutral-200;
    border-color: vars.$neutral-200;

    // hover
    &:hover {
      background-color: vars.$neutral-100;
      border-color: vars.$neutral-100;
    }
  }
}

// menu-btn
.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--open &__bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  &--open &__bar:nth-child(2) {
    opacity: 0;
  }

  &--open &__bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}

// menu-btn__bar
.menu-btn__bar {
  height: 4px;
  width: 100%;
  background-color: vars.$white;
  border-radius: vars.$border-sm;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

// icon-btn
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.2rem;
  font-size: vars.$font-size-4;
  text-decoration: none;
  color: vars.$black;
  background-color: transparent;
  border: vars.$border solid transparent;
  border-radius: vars.$radius-pill;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;

  // icon-btn--primary
  &--primary {
    color: vars.$primary-500;
  }

  // icon-btn--danger
  &--danger {
    color: vars.$red-500;
  }

  // icon-btn--bg
  &--bg {
    background-color: vars.$neutral-50;
  }

  // icon-btn--mini
  &--mini {
    width: 2rem;
    height: 2rem;
    background-color: vars.$neutral-50;
    border-radius: 0;
  }
}

// cart-btn
.cart-btn {
  display: inline-flex;
  position: relative;

  // cart-btn__btn
  &__btn {

  }

  // cart-btn__value
  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.25rem;
    height: 1.25rem;
    color: vars.$white;
    background: vars.$secondary-500;
    font-size: vars.$font-size-00;
    font-weight: vars.$font-weight-8;
    border-radius: vars.$radius-pill;
    padding: vars.$space-1;
    position: absolute;
    top: 0;
    right: 0;
  }
}
