@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// cart-card
.cart-card {
  display: flex;
  flex-direction: column;
  gap: vars.$space-3;
  text-decoration: none;
  background-color: vars.$white;
  padding: vars.$space-3;

  @include mixins.breakpoint(md) {
    flex-direction: row;
  }

  // cart-card__img
  &__img {
    width: 100%;
    object-fit: cover;

    @include mixins.breakpoint(md) {
      width: auto;
      aspect-ratio: vars.$aspect-square;
    }
  }

  // cart-card__content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: vars.$space-3;
    flex-grow: 1;
  }

  // cart-card__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: vars.$space-3;
  }

  // cart-card__footer
  &__footer {
    display: flex;
    gap: vars.$space-3;
    justify-content: space-between;
    align-items: center;
  }

  // cart-card__actions
  &__actions {
    display: flex;
    align-items: center;
    gap: vars.$space-3;
    justify-content: flex-end;
  }

  // cart-card__title
  &__title {
    color: vars.$black;
  }

  // cart-card__price
  &__price {
    color: vars.$primary-600;
  }

  // cart-card__down
  &__down {
  }

  // cart-card__qty
  &__qty {
  }

  // cart-card__up
  &__up {
  }

  // cart-card__favorite
  &__favorite {
  }

  // cart-card__remove
  &__remove {
  }
}
