@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// coffee-content
.coffee-content {
  display: flex;
  flex-direction: column;
  gap: vars.$space-5;
  @include mixins.breakpoint(md) {
    flex-direction: row;
    gap: vars.$space-10;
  }
}

// coffee-content__img
.coffee-content__img {
  width: 100%;
  object-fit: cover;
  @include mixins.breakpoint(md) {
    width: auto;
  }
}

// coffee-content__content
.coffee-content__content {
  display: flex;
  flex-direction: column;
  gap: vars.$space-5;
  flex-grow: 1;
}

// coffee-content__header
.coffee-content__header {
  display: flex;
  justify-content: space-between;
}

// coffee-content__title
.coffee-content__title {
  color: vars.$neutral-950;
}

// coffee-content__price
.coffee-content__price {
  color: vars.$primary-600;
}

// coffee-content__rating
.coffee-content__rating {
}

// coffee-content__desc
.coffee-content__desc {
  color: vars.$neutral-700;
  max-width: 576px;
}

// coffee-content__actions
.coffee-content__actions {
  display: flex;
  justify-content: flex-end;
  gap: vars.$space-5;
}

// coffee-content__btn
.coffee-content__btn {
}

// -------------------------------------------------

// coffee-detail

.coffee-detail {
  display: flex;
  flex-direction: column;
  gap: vars.$space-3;
  margin-bottom: vars.$space-5;
  background-color: vars.$white;
  padding: vars.$space-3;

  // coffee-detail__img
  &__img {
    width: 100%;
    object-fit: cover;
  }

  // coffee-detail__header
  &__header {
    display: flex;
    justify-content: space-between;
  }

  // coffee-detail__title
  &__title {
    color: vars.$neutral-950;
  }

  // coffee-detail__price
  &__price {
    color: vars.$primary-600;
  }

  // coffee-detail__rating
  &__rating {
    display: flex;
    align-items: center;
    gap: vars.$space-2;
  }

  // coffee-detail__count
  &__count {
    color: vars.$neutral-500;
  }

  // coffee-detail__desc
  &__desc {
  }

  // coffee-detail__actions
  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: vars.$space-3;
  }

  // coffee-detail__btn
  &__btn {
  }
}
