@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// form
.form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: vars.$space-5;
}

// label
.label {
  @include mixins.titleBaseText();
  color: vars.$black;
  display: block;

  // label__hide
  &__hide {
    position: absolute;
    top: 1rem;
    left: -9999px;
  }
}
