@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// pager
.pager {
  display: flex;
  gap: vars.$space-2;
  flex-wrap: wrap;

  // pager__btn
  &__btn {
    @include mixins.buttonText();
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$white;
    color: vars.$neutral-950;
    border-radius: vars.$radius-xs;
    border: vars.$border solid vars.$primary-500;
    text-decoration: none;
    transition:
      background-color 0.3s,
      border-color 0.3s,
      color 0.3s;
    &:hover {
      background-color: vars.$primary-500;
    }

    // pager__btn--jump & pager--current
    &--jump,
    &--current {
      background-color: vars.$primary-500;

      &:hover {
        background-color: vars.$primary-400;
        border-color: vars.$primary-400;
      }
    }
  }
}

// ---------------------------------

// table-pager
.table-pager {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: vars.$space-2;
}

// table-pager__label
.table-pager__label {
  margin-right: vars.$space-2;
}

// table-pager__select
.table-pager__select {
  margin-right: vars.$space-3;
  display: none;

  @include mixins.breakpoint(md) {
    display: flex;
    align-items: center;
  }
}

// table-pager__nav
.table-pager__nav {
  margin-left: vars.$space-3;
}

// table-pager__first

// table-pager__prev

// table-pager__next

// table-pager__last
