@use "../abstracts/variables" as vars;

// select-input
.select-input {
  display: flex;
  flex-direction: column;
  gap: vars.$space-2;

  // select-input--no-widget
  // select-input--widget
  &--no-widget .select,
  &--widget select {
    position: absolute;
    left: -5000em;
    height: 0;
    overflow: hidden;
  }
}

.select-input__label.label {
}

.select-input__select {
}

.select {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: vars.$border-sm solid vars.$primary-100;
  border-radius: vars.$radius-xs;
  outline: none;
  position: relative;
  cursor: pointer;

  &:focus {
    border-color: vars.$primary-500;
  }

  &__icon {
    position: absolute;
    right: 1rem;
    z-index: 1;
    color: vars.$primary-100;
    transition: transform 0.2s;
    transform: rotate(0);

    &--animate {
      transform: rotate(180deg);
    }
  }

  // select__btn
  &__btn {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
  }

  // select__value
  &__value {
    color: vars.$primary-100;
  }

  // select__options
  &__options {
    list-style: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: -1px;
    right: -1px;
    display: flex;
    flex-direction: column;
    background-color: vars.$primary-950;
    border: 1px solid vars.$primary-500;
    &.hidden {
      display: none;
    }
  }

  // select__option
  &__option {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    color: vars.$primary-100;
    padding: 0 1rem;

    &:hover {
      background-color: vars.$primary-50;
      color: vars.$primary-900;
    }

    // select__option--hightlight
    &--hightlight {
      background-color: vars.$primary-900;
      color: vars.$primary-50;
    }
  }
}
