@use "../abstracts/variables" as vars;

// social
.social {
  display: flex;
  gap: vars.$space-2;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: vars.$radius-pill;
  background-color: vars.$white;
  text-decoration: none;
  color: vars.$primary-950;
  font-size: vars.$font-size-3;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;

  &:hover,
  &:focus {
    background-color: vars.$primary-500;
  }
}
