@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// text-input
.text-input {
  display: flex;
  flex-direction: column;
  gap: vars.$space-2;
  position: relative;
}

// text-input__label
.text-input__label.label {
}

// text-input__input
.text-input__input {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  background-color: vars.$neutral-50;
  @include mixins.bodyBaseText();
  color: vars.$neutral-950;
  border: vars.$border solid vars.$neutral-50;
  border-radius: vars.$radius-xs;
  outline: none;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;

  &::placeholder {
    color: vars.$neutral-500;
  }

  &:hover {
    border-color: vars.$primary-200;
  }

  &:focus {
    border-color: vars.$primary-500;
  }
}
