@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// text-area
.text-area {
  display: flex;
  flex-direction: column;
  gap: vars.$space-2;
  position: relative;
}

// text-area__label
.text-area__label.label {
}

// text-area__area
.text-area__area {
  width: 100%;
  padding: 1rem 1rem 0;
  background-color: vars.$neutral-50;
  @include mixins.bodyBaseText();
  color: vars.$neutral-950;
  border: vars.$border solid vars.$neutral-50;
  border-radius: vars.$radius-xs;
  outline: none;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;

  &::placeholder {
    color: vars.$neutral-500;
  }

  &:hover {
    border-color: vars.$primary-200;
  }

  &:focus {
    border-color: vars.$primary-500;
  }
}

// text-area__error
.text-area__error {
  color: vars.$danger-500;
  display: none;

  &.show {
    display: block;
  }
}
